body {
	background-color: #f5f5f5;
	font-size: calc(1rem + 1vh);
}

.navbar-brand {
	justify-content: space-between;
	align-items: baseline;
	font-size: 2rem;
}
nav img {
	height: 40px;
	width: auto;
	margin-top: 6px;
}

nav a,
.links a {
	text-decoration: none;
}
nav a:hover,
.links a:hover {
	color: #ffa3fd;
}
#welcome-section-social-links a:hover {
	color: #865dff;
}
#notion-logo {
	height: calc(1rem + 1.5vw);
	width: auto;
}
#welcome-section {
	width: 100vw;
	height: calc(80vh);
	text-align: center;
	font-size: calc(0.5rem + 1vw);
}
#wave {
	animation: waving-hand 2.5s infinite;
	transform-origin: 70% 70%;
	display: inline-block;
	font-size: calc(2rem + 1.5vw);
}
@keyframes waving-hand {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
#typing-text-div {
	width: fit-content;
}
#typing-text {
	width: 100%;
	border-right: 4px solid;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 2s steps(23), cursor 0.4s step-end infinite alternate;
}
@keyframes cursor {
	50% {
		border-color: transparent;
	}
}
@keyframes typing {
	from {
		width: 0;
	}
}
.links {
	font-size: calc(1rem + 1.5vw);
}
#welcome-img {
	height: auto;
	width: calc(20rem + 5vw);
}
.welcome-img-box {
	position: relative;
	padding: 30px;
}
:root {
	--border: 3px;
	--color1: #ffa3fd;
	--color2: #865dff;
	--from: 30deg;
	--distance: 46%;
}
.welcome-img-box::after {
	content: "";
	border-radius: 999px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: conic-gradient(
		from var(--from),
		var(--color1),
		var(--color2) var(--distance),
		transparent var(--distance)
	);
	-webkit-mask: radial-gradient(
		farthest-side,
		transparent calc(100% - var(--border)),
		#fff calc(100% - var(--border) + 1px)
	);
	mask: radial-gradient(
		farthest-side,
		transparent calc(100% - var(--border)),
		#fff calc(100% - var(--border) + 1px)
	);
}

#project-section {
	width: 100vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.proj-row {
	width: 100%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
.proj-card {
	width: auto;
	height: 500px;
	aspect-ratio: 3/4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border: 2px solid;
	overflow: hidden;
	margin-bottom: 5vh;
}
.proj-card a {
	text-decoration: none;
}
.proj-img-box {
	width: 100%;
	height: 40%;
}

.proj-img {
	height: auto;
	width: 100%;
}
.proj-text-box {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 55%;
	width: 90%;
}
.proj-skills-type-wrapper {
	display: flex;
	justify-content: space-evenly;
}
.proj-text {
	font-size: 1rem;
}
.proj-btn-section {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
.proj-skill-image {
	height: auto;
	width: 40px;
}

.proj-button {
	text-decoration: none;
	padding: 0.6em 2em;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.proj-button:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ffa3fd,
		#865dff,
		#ffa3fd,
		#865dff,
		#ffa3fd,
		#865dff,
		#ffa3fd,
		#865dff,
		#ffa3fd
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button-85 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

@keyframes glowing-button-85 {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.proj-button:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	left: 0;
	top: 0;
	border-radius: 10px;
}

.button-images {
	height: 30px;
	width: auto;
	margin-bottom: 10px;
}

#skills-section {
	margin: auto;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
#skills-section img {
	height: 8rem;
	width: auto;
	padding: 20px;
}
#skill-images-wrapper {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}
.skills-img-box {
	border: #ff8fb1 1px solid;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
@media (max-width: 425px) {
	nav img {
		height: 30px;
		width: auto;
	}
	#welcome-section {
		margin-top: 5vh;
		height: calc(600px);
		font-size: 1rem;
	}
}

#about-section {
	text-align: center;
	height: calc(40vh + 200px);
	width: 100vw;
	margin: 5vh 0;
	font-size: 1.2rem;
}

ul {
	list-style: none;
}

input {
	overflow: hidden;
}

.contact-title {
	position: relative;
	font-weight: 600;
	margin: 0 0 35px;
}

.sec-pad {
	padding: 60px 0 0;
	margin: 50px 0;
}

.contact-sec {
	align-items: center;
	display: flex;
	font-size: 1rem;
}

.contact-sec .contact-ul li,
.contact-ul b {
	font-size: 20px;
	margin: 10px;
	word-wrap: break-word;
}
#contact-social-links a:hover {
	color: #865dff;
}
.contact-sec .contact-ul i {
	font-size: 18px;
	padding: 10px;
	margin-right: 10px;
	border-radius: 50%;
}
.contact-sec .container {
	margin-bottom: 5vh;
}
.contact-detail a {
	text-decoration: none;
}
.contact-detail span {
	width: 400px;
	display: flex;
	justify-content: center;
}

.contact-detail span a {
	font-size: 20px;
	padding: 6px 12px;
	border-radius: 50%;
	margin: 0px 5px;
}

form.contFrm {
	max-width: 396px;
	margin: auto;
}

.inptFld {
	width: 100%;
	height: 50px;
	border: 0;
	margin: 0 0 10px;
	border-radius: 8px;
	padding: 0 20px;
	font-size: 16px;
	color: #000;
}

.inptFld:focus {
	outline-offset: -4px;
	outline: 1px solid #ff8fb1;
}

.contFrm textarea {
	height: 75px;
	padding-top: 5px;
}

.inptBtn {
	height: 50px;
	border: 0;
	font-size: 14px;
	margin: auto;
	letter-spacing: 1px;
	cursor: pointer;
	width: 100%;
	max-width: 200px;
}

/* Responcive css Start */

@media (max-width: 991px) {
	.sec-pad {
		padding: 20px 0 0px;
	}

	.contact-sec .contact-ul li,
	.contact-ul b {
		font-size: 18px;
	}

	.contact-sec .contact-ul i {
		font-size: 14px;
		padding: 6px;
		margin-right: 6px;
	}

	.inptFld {
		height: 40px;
		margin: 0 0 10px;
		padding: 0 14px;
		font-size: 14px;
	}
}

@media (max-width: 767px) {
	.contact-detail span {
		width: auto;
	}

	.contact-detail span a {
		font-size: 18px;
		padding: 5px 10px;
		border-radius: 50%;
		margin: 0px 5px 20px;
	}
}

@media (max-width: 575px) {
	.section-title {
		font-size: 26px;
		font-weight: 500;
	}

	.contact-sec {
		border-radius: 10% 10% 0% 0% / 5% 5% 0% 0%;
	}

	.contact-sec .contact-ul i {
		border: none;
	}

	.inptFld {
		height: 36px;
		margin: 0 0 8px;
		padding: 0 14px;
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.contact-sec .contact-ul li,
	.contact-ul b {
		font-size: 16px;
	}
}

@media (prefers-color-scheme: dark) {
	body,
	.navbar,
	a,
	.inptBtn,
	.nav-item .nav-link,
	.navbar-brand span {
		background-color: #11001c;
		color: #f8f7ff;
	}

	#project-section,
	.contact-sec {
		background-color: #32004f;
	}

	.proj-card {
		background-color: #f8f7ff;
		color: #000;
	}
	.proj-text a {
		background-color: #f8f7ff;
		color: #000;
	}
}
@media (prefers-color-scheme: light) {
	body,
	nav,
	a,
	.inptBtn,
	.nav-item .nav-link,
	.navbar-brand span {
		background-color: #f8f7ff;
		color: #000;
	}

	#project-section,
	.contact-sec {
		background-color: #f8f7ff;
	}

	.proj-card {
		background-color: #f8f7ff;
		color: #000;
	}
}
nav a:hover {
	color: #ffa3fd !important;
}

.navbar-toggler-icon {
	color: #ff8fb1;
}

@media (max-width: 1440px) {
	#project-section {
		height: 1500px;
	}
	.proj-button {
		padding: 0.1em 0.5em;
	}
}
@media (max-width: 768px) {
	#project-section {
		height: 1400px;
	}
	.proj-card {
		height: 500px;
		aspect-ratio: 3/5;
	}
	.proj-button {
		padding: 0.1em 0.5em;
	}
}

@media (max-width: 450px) {
	#skills-section {
		height: 750px;
	}
	#project-section {
		height: 2800px;
	}
	#welcome-img {
		height: auto;
		width: 300px;
	}
	.welcome-img-box {
		padding: 20px;
	}
	h1 {
		font-size: calc(1.375rem + .5vw);
	}

	h2 {
	}
	.proj-button {
		padding: 0.2em 1em;
	}
	.contact-col {
		width: 80%;
		margin: 0 auto;

	}
	.contact-row {

	}
}
@media (max-width:325px) {
	#skills-section {
		height: 900px;
	}
} 